@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");
@import url("https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css");

.map {
    width: 95%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
}

.map.visible {
    opacity: 1;
}