@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");
@import url("https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css");

table{
    width: 550px;
    margin: 20px;
    background-color: rgb(121, 121, 121);
    border-collapse:separate;
    border-spacing: 10;
    border:solid black 1px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 5px; 
}

.contenedor {
    margin: 20px;
    width: 600px;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    height: 540px;
    box-shadow: 5px 5px 5px #888;
}

.map.visible {
    opacity: 1;
}

.btn {
    margin: 15px;
}


